.dashboard {
  display: inherit;
  grid-column-start: 2;
}

.array-container {
  display: flex;
  align-items: flex-end;
  justify-self: center;
  align-self: center;
  grid-row-start: 2;
  margin-top: 10px;
}

.array-bar {
  background-color: brown;
  width: 40px;
  margin: 0 10px;
}

.actions {
  margin: 10px 0;
  justify-self: center;
  grid-row-start: 3;
}

.button {
  width: 200px;
  background-color: darkgreen;
  color: whitesmoke;
  font-weight: 600;
}
